<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <style>
    body {
      margin: 0;
    }
    body,
    div,
    p,
    span,
    a {
      font-family: "PT Sans Caption", sans-serif !important ;
    }
    .wrapper {
      width: 960px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      display: -webkit-flex;
    }
    .content {
      width: calc(960px);
      height: auto;
      display: flex;
      display: -webkit-flex;
    }
    .content .rectangle-wrapper {
      background-color: #f0f0f0;
      display: flex;
      display: -webkit-flex;
      width: 100%;
      height: 78px;
    }
    .content .wrapper-dis-image {
      display: flex;
      display: -webkit-flex;
      margin-top: 64px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .content .wrapper-dis-image .wrapper-avatar {
      width: 116px;
      height: 116px;
      border-radius: 50%;
      margin-top: auto;
      margin-bottom: auto;
    }
    .content .wrapper-dis-image .wrapper-avatar img {
      border-radius: 50%;
      width: 116px;
      height: 116px;
      border: 4px solid #f0f0f0;
    }
    .content .wrapper-details {
      display: flex;
      display: -webkit-flex;
    }
    .content .wrapper-context {
      display: flex;
      display: -webkit-flex;
    }
    .content .wrapper-context .left {
      width: 50%;
      padding-right: 24px;
    }
    .content .wrapper-context .right {
      width: 50%;
      padding-left: 24px;
      padding-right: 24px;
    }
    .fullname {
      padding-top: 6px;
      padding-left: 16px;
      color: #2e2725;
      font-weight: 700;
      font-size: 24px;
      margin: 0;
      text-align: left;
    }
    .jobtitle {
      padding-left: 16px;
      color: #2e2725;
      font-weight: 400;
      font-size: 16px;
      margin-top: 4px;
      margin-bottom: 0;
      text-align: left;
      font-family: "light-bold";
    }
    .divider {
      font-weight: 700;
      font-size: 16px;
      text-align: left;
      letter-spacing: 0.095em;
      text-transform: capitalize;
      background-color: #454545;
      color: #ffffff;
      height: 22px;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 1.4;
    }
    .divider p {
      margin: 0;
    }
    .discretion {
      font-weight: 400;
      font-size: 16px;
      text-align: justify;
      color: #2e2725;
      line-height: 20px;
      margin: 0;
      font-family: "poppins-light";
    }
    .margin-top {
      margin-top: 71px;
    }
    .education {
      margin-top: 30px;
    }
    .education .wrapper-title-date {
      display: flex;
      display: -webkit-flex;
    }
    .education div p {
      margin-bottom: 4px;
      margin-top: 4px;
      font-family: "poppins-light";
    }
    .education .title {
      color: #2e2725;
      font-weight: 700;
      font-size: 16px;
      text-transform: capitalize;
      color: #2e2725;
    }
    .detail-item {
      color: #2e2725;
      margin-left: 24px;
      display: flex;
      display: -webkit-flex;
    }
    .detail-item .detail-item-data {
      padding-left: 12px;
    }
    .detail-item .detail-item-icon {
      margin-top: auto;
      margin-bottom: auto;
    }
    .detail-item .type {
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.025em;
      margin: 0;
      font-family: "poppins-light";
    }
    .detail-item .value {
      font-weight: 700;
      font-size: 16px;
      color: #2e2725;
      margin-top: 4px;
      margin-bottom: 0;
      text-decoration: none;
    }
    .portfolio .image-wrapper {
      margin-left: 35px;
    }
    .portfolio img {
      width: 154px;
      height: 154px;
      margin-right: 10px;
      margin-top: 10px;
      border-radius: 8px;
      border: 1px solid #2e2725;
    }
    .portfolio .title {
      font-weight: 700;
      font-size: 16px;
      color: #2e2725;
    }
    .portfolio .image-link {
      font-family: "poppins-light";
      font-weight: 400;
      font-size: 12px;
      color: #2e2725;
    }
    .portfolio .image-link span {
      font-weight: 700;
      font-size: 12px;
      color: #2e2725;
    }
    .portfolio .video-link {
      font-family: "poppins-light";
      font-weight: 400;
      font-size: 12px;
      color: #2e2725;
    }
    .portfolio .video-link span {
      font-weight: 700;
      font-size: 12px;
      color: #2e2725;
    }
    .award {
      padding-top: 24px;
    }
    .award .wrapper-title-award {
      display: flex;
      display: -webkit-flex;
    }
    .award .wrapper-title-award .date {
      margin-left: auto;
    }
    .award .wrapper-title-award p {
      white-space: nowrap;
      margin-bottom: 0;
    }
    .award .wrapper-title-award .title {
      font-weight: 700;
      font-size: 16px;

      text-transform: capitalize;
      color: #2e2725;
    }
    .award .wrapper-text p {
      margin-top: 8px;
      margin-bottom: 0;
    }
    .pure-divider {
      margin-left: 24px;

      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.095em;
      text-transform: uppercase;
      color: #2e2725;
    }
    .progress-bar {
      margin-bottom: 48px;
    }
    .progress-bar p {
      margin-top: 0;
      margin-bottom: 0;
    }
    .progress-bar .title {
      font-weight: 700;
      font-size: 14px;
      color: #2e2725;
    }
    .progress-bar .text {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      font-family: "poppins-light";
      color: #2e2725;
      margin-left: auto;
    }
    .progress-bar .wrapper-detail {
      display: flex;
      display: -webkit-flex;
    }
    .progress-bar .wrapper-progress {
      margin-top: 16px;
      background: #f0f0f0;
      width: 100%;
      height: 8px;
      position: relative;
    }
    .progress-bar .wrapper-progress .progress {
      background-color: #454545;
      height: 8px;
    }
    .progress-bar .wrapper-progress .circle {
      position: absolute;
      background: #454545;
      border: 2px solid #ffffff;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: -5px;
    }

    .course .title p {
      font-weight: 700;
      font-size: 16px;
      text-transform: capitalize;
      color: #2e2725;

      margin-bottom: 4px;
      margin-top: 0;
    }
    .course .date p {
      font-weight: 400;
      font-size: 12px;
      color: #2e2725;
      font-family: "poppins-light";
      margin-bottom: 4px;
      margin-top: 0;
    }
    .references p {
      margin-top: 0;
      margin-bottom: 4px;
    }
    .references .name p {
      font-weight: 700;
      font-size: 16px;
      text-transform: capitalize;

      color: #2e2725;
    }
    .references .company p {
      font-weight: 600;

      font-size: 12px;
      text-transform: capitalize;
      color: #2e2725;
    }
    .references .email a {
      font-family: "poppins-light";
      font-weight: 400;
      font-size: 12px;
      color: #2e2725;
      text-decoration: none;
    }
    .references .phone a {
      font-family: "poppins-light";
      font-weight: 400;
      font-size: 12px;
      color: #2e2725;
      text-decoration: none;
    }
    .socials {
      padding-top: 16px;
      display: -webkit-flex;
      display: flex;
      margin-left: auto;
      width: 238px;
    }
    .socials .item {
      width: 33%;
      margin-bottom: 36px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    .socials .items img {
      width: 20px;
      height: 20px;
    }
  </style>
  <body>
    <div class="wrapper">
      <div class="content">
        <div>
          <div class="rectangle-wrapper">
            <div>
              <p class="fullname">
                <%= cv.givenName ? cv.givenName : '' %> <%= cv.familyName ?
                cv.familyName : '' %>
              </p>
              <p class="jobtitle"><%= cv.jobTitle ? cv.jobTitle : '' %></p>
            </div>
            <!-- Start Social -->
            <div class="socials">
              <% cv.userSocials.forEach(function(item,index) { %>
              <div class="item">
                <a target="_blank" href="<%= item?.url %>">
                  <img width="20" height="20" src="<%= item?.social?.icon %>" />
                </a>
              </div>
              <% }); %>
            </div>
            <!-- End Social -->
          </div>
          <div class="wrapper-dis-image">
            <div class="wrapper-avatar">
              <img width="116" height="116" src="<%= cv.avatar %>" />
            </div>
            <div style="margin-left: auto; width: 80%; margin-top: 20px">
              <% if (cv.description ) { %>
              <div>
                <p class="discretion">
                  <%- cv.description ? cv.description : '' %>
                </p>
              </div>
              <% } %>
            </div>
          </div>
          <div style="margin-top: 64px"></div>
          <div class="wrapper-details">
            <div style="width: 33%">
              <% if (cv.phone ) { %>
              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98030)">
                      <path
                        d="M8.28883 10.1812C7.81874 10.1718 7.35531 10.0684 6.92587 9.87695C6.41574 9.65594 5.93218 9.37827 5.4841 9.0492C5.32959 8.93309 5.17556 8.8176 5.02646 8.69549L4.32007 8.06547C4.29469 8.04961 4.27095 8.03112 4.24946 8.01028C4.20386 7.96438 4.15679 7.92327 4.11088 7.87767C3.68794 7.45224 3.29791 6.9954 2.94393 6.51108C2.61908 6.06763 2.34346 5.5901 2.12211 5.08693C1.93633 4.65474 1.83578 4.19068 1.8262 3.72034C1.82481 3.44447 1.87571 3.17083 1.97621 2.91391C2.08383 2.64878 2.24866 2.41064 2.45875 2.21639C2.57005 2.09638 2.70401 1.99978 2.85311 1.93227C3.0025 1.86522 3.16375 1.82851 3.32745 1.82427C3.4448 1.82297 3.56085 1.84863 3.66672 1.89927C3.78008 1.95006 3.87753 2.03086 3.94828 2.13296L4.91688 3.49834C4.98444 3.58841 5.04067 3.68658 5.08388 3.79055C5.12071 3.87101 5.14117 3.95802 5.14394 4.04647C5.14167 4.15121 5.11093 4.25339 5.05546 4.34227C4.99079 4.45056 4.91252 4.54999 4.82225 4.63808L4.50495 4.96812C4.48258 4.98994 4.46464 5.01577 4.45192 5.0443C4.44098 5.07353 4.43585 5.10462 4.43668 5.13582C4.43569 5.16802 4.44004 5.20016 4.44957 5.23093C4.46157 5.26603 4.47578 5.29093 4.48268 5.31553C4.59547 5.50558 4.72551 5.68486 4.87118 5.85107C5.06019 6.06708 5.26103 6.28907 5.47794 6.51108C5.50975 6.54319 5.54399 6.57499 5.57639 6.60649L6.39 7.32232C6.48262 7.39114 6.57967 7.45369 6.68064 7.50953C6.70524 7.51883 6.72917 7.53174 6.75857 7.54374C6.79203 7.55576 6.82735 7.56138 6.86288 7.56026C6.89482 7.56151 6.9265 7.55543 6.95575 7.54253C6.9857 7.53127 7.01282 7.51318 7.03457 7.48972L7.35275 7.17623C7.44096 7.08393 7.542 7.00479 7.65276 6.94129C7.74195 6.8847 7.84539 6.85455 7.95102 6.85431C8.03915 6.85524 8.12637 6.87357 8.20738 6.9083C8.31001 6.952 8.4075 7.00674 8.49831 7.07152L9.885 8.05316C9.98483 8.1192 10.064 8.21191 10.1138 8.32077C10.1577 8.42359 10.1805 8.53417 10.1809 8.64598C10.1812 8.76755 10.1593 8.88816 10.1162 9.00181C10.1064 9.03661 10.0927 9.07015 10.0751 9.10172C10.0022 9.25726 9.90677 9.4013 9.79213 9.52925C9.60327 9.74245 9.36926 9.91055 9.10684 10.0212C9.10204 10.0212 9.09728 10.0249 9.09248 10.0249C8.84066 10.1273 8.57151 10.1799 8.29967 10.18L8.28883 10.1812Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98030">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Phone number</p>
                  <a href="tel:<%= cv.phone %>" class="value"
                    ><%= cv.phone %></a
                  >
                </div>
              </div>
              <!-- Detail Item -->
              <% } %> <% if (cv.email ) { %>

              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98035)">
                      <path
                        d="M8.40928 10.4577H3.58994C1.82924 10.4577 0.819336 9.44768 0.819336 7.68608V4.31313C0.819336 2.55243 1.82924 1.54297 3.58994 1.54297H8.40928C10.1709 1.54297 11.1808 2.55273 11.1808 4.31313V7.68608C11.1823 9.44768 10.1712 10.4577 8.40928 10.4577ZM2.92256 3.6478C2.86833 3.64757 2.81476 3.65958 2.76582 3.68296C2.71689 3.70634 2.67374 3.74038 2.63984 3.78271C2.60976 3.81978 2.58717 3.86248 2.57363 3.90825C2.56009 3.95402 2.55596 4.002 2.56104 4.04946C2.56589 4.09694 2.58011 4.14304 2.60293 4.18496C2.62575 4.22688 2.65652 4.26379 2.69375 4.29365C4.88375 6.06725 4.9031 6.07475 4.9376 6.08765C5.24807 6.30639 5.61955 6.42187 5.99932 6.41768C6.37617 6.42288 6.74489 6.30829 7.05254 6.09058C7.09124 6.07738 7.11245 6.07024 9.30606 4.29424C9.38017 4.23327 9.42742 4.14551 9.43731 4.05005C9.44719 3.95458 9.41914 3.85904 9.35908 3.78418C9.32516 3.74193 9.28197 3.70784 9.23311 3.68442C9.18425 3.66101 9.13084 3.64895 9.07666 3.64897C8.99345 3.64911 8.91288 3.6777 8.84814 3.72998L6.67402 5.47476C6.47983 5.62235 6.24142 5.69983 5.99756 5.69463C5.75343 5.69975 5.5145 5.62229 5.31992 5.47476L3.15107 3.72998C3.0865 3.67746 3.0058 3.64893 2.92256 3.64927V3.6478Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98035">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Email</p>
                  <a href="mailto:<%= cv.email %>" class="value"
                    ><%= cv.email %></a
                  >
                </div>
              </div>
              <!-- Detail Item -->
              <% } %> <% if (cv.degree ) { %>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98040)">
                      <path
                        d="M8.01522 1.2002H3.99063C2.24249 1.2002 1.2002 2.24199 1.2002 3.98896V8.00694C1.2002 9.75923 2.24249 10.8007 3.99063 10.8007H8.01056C9.75837 10.8007 10.8007 9.75923 10.8007 8.01194V3.98928C10.8057 2.24199 9.76336 1.2002 8.01522 1.2002ZM3.92334 2.88024C3.92334 2.78474 3.9613 2.69314 4.02886 2.62562C4.09642 2.55809 4.18805 2.52017 4.28359 2.52017C4.37914 2.52017 4.47077 2.55809 4.53833 2.62562C4.60589 2.69314 4.64385 2.78474 4.64385 2.88024V4.75139C4.64385 4.84689 4.60589 4.93847 4.53833 5.006C4.47077 5.07353 4.37914 5.11147 4.28359 5.11147C4.18805 5.11147 4.09642 5.07353 4.02886 5.006C3.9613 4.93847 3.92334 4.84689 3.92334 4.75139V2.88024ZM4.64385 8.18973V9.12197C4.64385 9.21747 4.60589 9.30905 4.53833 9.37658C4.47077 9.4441 4.37914 9.48204 4.28359 9.48204C4.18805 9.48204 4.09642 9.4441 4.02886 9.37658C3.9613 9.30905 3.92334 9.21747 3.92334 9.12197V8.18973C3.61929 8.10288 3.3569 7.90912 3.18449 7.64416C3.01209 7.3792 2.9413 7.06089 2.98517 6.74789C3.02904 6.43488 3.1846 6.14827 3.42321 5.94086C3.66181 5.73345 3.96738 5.61922 4.28359 5.61922C4.59981 5.61922 4.90538 5.73345 5.14399 5.94086C5.38259 6.14827 5.53816 6.43488 5.58203 6.74789C5.62589 7.06089 5.5551 7.3792 5.3827 7.64416C5.2103 7.90912 4.9479 8.10288 4.64385 8.18973ZM8.08284 9.12197C8.08284 9.21747 8.04489 9.30905 7.97733 9.37658C7.90976 9.4441 7.81813 9.48204 7.72259 9.48204C7.62704 9.48204 7.53541 9.4441 7.46785 9.37658C7.40029 9.30905 7.36233 9.21747 7.36233 9.12197V7.24848C7.36233 7.15298 7.40029 7.0614 7.46785 6.99388C7.53541 6.92635 7.62704 6.88841 7.72259 6.88841C7.81813 6.88841 7.90976 6.92635 7.97733 6.99388C8.04489 7.0614 8.08284 7.15298 8.08284 7.24848V9.12197ZM7.72275 6.37151C7.40645 6.3732 7.10028 6.26016 6.86102 6.05336C6.62177 5.84657 6.46567 5.56005 6.4217 5.24697C6.37772 4.93389 6.44885 4.61549 6.62189 4.35084C6.79493 4.08619 7.05813 3.89326 7.36266 3.80783V2.88024C7.36266 2.78474 7.40062 2.69314 7.46818 2.62562C7.53574 2.55809 7.62738 2.52017 7.72292 2.52017C7.81847 2.52017 7.9101 2.55809 7.97766 2.62562C8.04522 2.69314 8.08317 2.78474 8.08317 2.88024V3.81249C8.3861 3.89877 8.64756 4.09168 8.81931 4.35559C8.99106 4.61951 9.0615 4.93661 9.01762 5.24837C8.97374 5.56013 8.8185 5.84551 8.58057 6.05182C8.34264 6.25812 8.03807 6.37144 7.72308 6.37084L7.72275 6.37151Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98040">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Academic Level</p>
                  <p class="value"><%= cv.degree?.title %></p>
                </div>
              </div>
              <!-- Detail Item -->
              <% } %> <% if (cv.drivingLicense ) { %>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98045)">
                      <path
                        d="M7.44909 11.1805H4.55947C4.39656 11.1805 4.23779 11.176 4.08719 11.1673C3.93659 11.1586 3.7872 11.1451 3.6489 11.1274C3.5106 11.1097 3.37269 11.0869 3.24459 11.0602C3.11649 11.0335 2.99098 11.0002 2.87398 10.9651C2.75917 10.9299 2.64633 10.8886 2.53588 10.8415C2.43117 10.7967 2.32902 10.7458 2.23031 10.689C2.13509 10.6344 2.04348 10.5737 1.95608 10.5072C1.87061 10.442 1.78965 10.3711 1.7135 10.2951C1.63762 10.2189 1.56676 10.1379 1.50138 10.0525C1.43506 9.96511 1.3742 9.8736 1.31945 9.77854C1.26277 9.67968 1.21194 9.57759 1.1671 9.47282C1.12009 9.36247 1.07889 9.24971 1.04376 9.13502C1.00745 9.01772 0.975532 8.89289 0.948831 8.76419C0.92213 8.63548 0.899147 8.49991 0.881447 8.35981C0.863746 8.2197 0.851502 8.07332 0.841602 7.92151C0.831702 7.76971 0.828125 7.61186 0.828125 7.44865V4.5602C0.828125 4.3973 0.832902 4.23831 0.841602 4.08741C0.850302 3.93651 0.863746 3.78742 0.881447 3.64912C0.899147 3.51081 0.92213 3.37307 0.948831 3.24466C0.975532 3.11626 1.00865 2.99121 1.04376 2.8739C1.0789 2.75922 1.1201 2.64639 1.1671 2.53603C1.21194 2.43126 1.26277 2.32925 1.31945 2.23038C1.37418 2.13532 1.43504 2.04381 1.50138 1.95645C1.56678 1.87106 1.63764 1.78996 1.7135 1.71372C1.78965 1.63776 1.87061 1.56689 1.95608 1.5016C2.04347 1.43506 2.13508 1.37425 2.23031 1.31952C2.32899 1.26269 2.43114 1.21178 2.53588 1.1671C2.64633 1.11996 2.75917 1.07874 2.87398 1.04354C2.99128 1.00753 3.11589 0.975392 3.24459 0.948392C3.37329 0.921391 3.5088 0.898927 3.6489 0.881227C3.789 0.863526 3.93569 0.851209 4.08719 0.841309C4.23869 0.831409 4.39656 0.828125 4.55947 0.828125H7.44909C7.612 0.828125 7.77106 0.832609 7.92166 0.841309C8.07227 0.850009 8.22165 0.863526 8.35995 0.881227C8.49826 0.898927 8.63615 0.921691 8.76455 0.948392C8.89296 0.975092 9.01758 1.00843 9.13458 1.04354C9.24939 1.07874 9.36223 1.11996 9.47268 1.1671C9.57759 1.21184 9.67992 1.26275 9.77884 1.31952C9.87385 1.3743 9.96527 1.43511 10.0525 1.5016C10.1381 1.56681 10.2192 1.63768 10.2954 1.71372C10.3714 1.78983 10.4422 1.87093 10.5075 1.95645C10.5738 2.04381 10.6347 2.13532 10.6894 2.23038C10.7461 2.32925 10.7969 2.43126 10.8418 2.53603C10.8889 2.64634 10.9301 2.75917 10.9651 2.8739C11.0011 2.99121 11.0333 3.11596 11.06 3.24466C11.0867 3.37337 11.1094 3.50871 11.1277 3.64912C11.146 3.78952 11.1576 3.93591 11.1675 4.08741C11.1774 4.23891 11.1804 4.397 11.1804 4.5602V7.44865C11.1804 7.61186 11.1762 7.77091 11.1675 7.92151C11.1588 8.07212 11.1454 8.2215 11.1277 8.35981C11.11 8.49811 11.0867 8.63578 11.06 8.76419C11.0333 8.89259 11.0002 9.01772 10.9651 9.13502C10.9301 9.24975 10.8889 9.36251 10.8418 9.47282C10.7969 9.57759 10.7461 9.67968 10.6894 9.77854C10.6347 9.8736 10.5738 9.96511 10.5075 10.0525C10.4422 10.138 10.3713 10.219 10.2954 10.2951C10.2192 10.3712 10.1381 10.442 10.0525 10.5072C9.96524 10.5736 9.87382 10.6343 9.77884 10.689C9.6799 10.7458 9.57757 10.7967 9.47268 10.8415C9.36223 10.8886 9.24939 10.9299 9.13458 10.9651C9.01728 11.0014 8.89266 11.0332 8.76455 11.0602C8.63645 11.0872 8.49976 11.1097 8.35995 11.1274C8.22015 11.1451 8.07287 11.1574 7.92166 11.1673C7.77046 11.1772 7.612 11.1805 7.44909 11.1805ZM6.00062 2.09569C5.86716 2.09562 5.73378 2.10229 5.601 2.11575C5.47087 2.12922 5.3415 2.14923 5.21339 2.17574C4.96227 2.2273 4.71676 2.30359 4.48066 2.40346C4.24844 2.50175 4.02632 2.6223 3.81736 2.76345C3.60997 2.90353 3.41654 3.0632 3.23961 3.2402C3.06251 3.41711 2.90282 3.61061 2.76265 3.81802C2.62151 4.02698 2.50088 4.24911 2.40258 4.48132C2.30302 4.71761 2.22691 4.96305 2.17523 5.2142C2.14913 5.3417 2.12927 5.4722 2.11517 5.6018C2.10182 5.73449 2.09509 5.86778 2.09525 6.00113C2.09509 6.13448 2.10182 6.26777 2.11517 6.40046C2.12837 6.53036 2.14823 6.66056 2.17523 6.78806C2.22681 7.03924 2.30293 7.28476 2.40258 7.52102C2.5009 7.75322 2.62152 7.97534 2.76265 8.18431C2.90277 8.39185 3.06246 8.58545 3.23961 8.76243C3.41652 8.93945 3.60995 9.09905 3.81736 9.2391C4.02631 9.38027 4.24843 9.50089 4.48066 9.59917C4.71675 9.69898 4.96227 9.7751 5.21339 9.82652C5.34151 9.853 5.47087 9.87308 5.601 9.88658C5.73378 9.89998 5.86716 9.90666 6.00062 9.90665C6.13387 9.90666 6.26707 9.89999 6.39965 9.88658C6.52985 9.87338 6.66005 9.85322 6.78755 9.82652C7.03868 9.77514 7.28391 9.69902 7.51999 9.59917C7.75229 9.50084 7.9745 9.38022 8.18358 9.2391C8.39088 9.0989 8.58459 8.93932 8.76162 8.76243C8.93851 8.5852 9.09818 8.39163 9.23859 8.18431C9.37961 7.97528 9.50023 7.75317 9.59866 7.52102C9.69853 7.28481 9.77474 7.03928 9.8263 6.78806C9.85298 6.65998 9.87307 6.53061 9.88636 6.40046C9.89992 6.26779 9.90655 6.13449 9.90657 6.00113C9.90655 5.86777 9.89992 5.73448 9.88636 5.6018C9.87306 5.47165 9.85298 5.34228 9.8263 5.2142C9.77474 4.96298 9.69853 4.71752 9.59866 4.48132C9.50027 4.24914 9.37965 4.02703 9.23859 3.81802C9.09816 3.6108 8.93849 3.41733 8.76162 3.2402C8.58457 3.06334 8.39086 2.90368 8.18358 2.76345C7.97448 2.62236 7.75227 2.50181 7.51999 2.40346C7.28392 2.30351 7.03869 2.22722 6.78755 2.17574C6.65934 2.14925 6.52988 2.12924 6.39965 2.11575C6.26708 2.10219 6.13388 2.09535 6.00062 2.09532V2.09569ZM6.00062 9.20014C5.68772 9.20033 5.37645 9.1545 5.07686 9.06419C4.78735 8.97669 4.51162 8.8484 4.25829 8.68318C4.00789 8.51992 3.78128 8.32277 3.58503 8.0973C3.38821 7.87136 3.2241 7.61888 3.09752 7.34728L4.93653 6.84146C5.06314 7.00253 5.22473 7.13268 5.4091 7.22203C5.59347 7.31139 5.79574 7.35759 6.00062 7.35717C6.20442 7.35772 6.40554 7.31212 6.58921 7.22379C6.77288 7.13546 6.93438 7.00672 7.06119 6.84717L8.90342 7.34816C8.77654 7.61973 8.61225 7.87219 8.41533 8.09818C8.21935 8.32371 7.99292 8.52094 7.74265 8.68413C7.48915 8.84924 7.21364 8.97753 6.92408 9.06515C6.62446 9.1546 6.3133 9.19953 6.00062 9.1986V9.20014ZM2.85669 6.60027C2.8192 6.40247 2.80056 6.20157 2.80073 6.00025C2.80161 5.15186 3.13894 4.33845 3.73884 3.73855C4.33875 3.13864 5.15222 2.80124 6.00062 2.80037C6.84896 2.80132 7.66226 3.1388 8.2621 3.7387C8.86194 4.33859 9.19934 5.15191 9.20021 6.00025C9.20031 6.20157 9.18138 6.40245 9.14396 6.60027L7.33395 5.75635C7.27667 5.44454 7.11207 5.16264 6.86841 4.95982C6.62475 4.757 6.31765 4.6461 6.00062 4.64634C5.68317 4.64599 5.37549 4.75714 5.13165 4.96041C4.88781 5.16367 4.72321 5.44615 4.6664 5.75847L2.85669 6.60027Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98045">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Driving License</p>
                  <p class="value"><%= cv.drivingLicense?.title %></p>
                </div>
              </div>
              <!-- Detail Item -->
              <% } %>
            </div>
            <div style="width: 33%; padding-left: 30px">
              <% if (cv.streetAddress ) { %>

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98051)">
                      <path
                        d="M5.61903 11.6825C5.47772 11.5561 1.75879 8.55868 1.75879 5.44231C1.75879 3.18307 3.5903 1.35156 5.84954 1.35156C8.10878 1.35156 9.94024 3.18309 9.94024 5.44231C9.94024 8.55868 6.22143 11.5561 6.08012 11.6825C6.0147 11.735 5.93343 11.7639 5.84954 11.7644C5.76567 11.7639 5.68444 11.735 5.61903 11.6825ZM4.73388 5.44231C4.73387 5.58883 4.76273 5.73391 4.8188 5.86927C4.87487 6.00463 4.95706 6.12762 5.06066 6.23122C5.16426 6.33482 5.28726 6.41702 5.42263 6.47308C5.55799 6.52914 5.70308 6.55797 5.84959 6.55796C5.9961 6.55797 6.14118 6.52912 6.27654 6.47305C6.4119 6.41699 6.53488 6.33482 6.63848 6.23122C6.74208 6.12762 6.82426 6.00463 6.88033 5.86927C6.93639 5.73391 6.96524 5.58882 6.96524 5.44231C6.96523 5.14642 6.84769 4.86268 6.63847 4.65345C6.42925 4.44423 6.14548 4.32666 5.84959 4.32666C5.70308 4.32665 5.55799 4.35551 5.42263 4.41157C5.28726 4.46763 5.16426 4.5498 5.06065 4.6534C4.95705 4.75699 4.87486 4.87999 4.81879 5.01535C4.76271 5.15071 4.73384 5.29579 4.73383 5.44231H4.73388Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98051">
                        <rect
                          width="12"
                          height="12"
                          fill="white"
                          transform="translate(0 0.5)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Address</p>
                  <p class="value"><%= cv.streetAddress %></p>
                </div>
              </div>
              <!-- Detail Item -->
              <% } %> <% if (cv.website ) { %>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98056)">
                      <path
                        d="M5.09561 7.57C4.89761 7.57 4.66553 7.23434 4.66553 6.94304C4.66726 6.81827 4.71037 6.69754 4.78799 6.59983C4.86561 6.50212 4.97358 6.43294 5.09473 6.40303H6.07031C7.09301 6.40303 8.17324 5.57175 8.17324 4.54905C8.17324 3.52635 7.09331 2.695 6.07031 2.695H4.12031C3.09761 2.695 2.03203 3.52635 2.03203 4.54905C2.03323 4.97933 2.18355 5.39587 2.45742 5.72773C2.51499 5.84446 2.53394 5.97649 2.51162 6.10471C2.4893 6.23294 2.42683 6.35071 2.3332 6.44111C2.22456 6.52816 2.09087 6.5781 1.95176 6.5835C1.81265 6.5889 1.67541 6.54951 1.56035 6.47114C1.11125 5.93089 0.864962 5.25064 0.864258 4.5481C0.864576 3.74729 1.18277 2.97941 1.74902 2.41316C2.31528 1.84691 3.08338 1.52864 3.88418 1.52832H6.3C7.10072 1.52872 7.86843 1.84705 8.43457 2.41331C9.00071 2.97956 9.3188 3.74737 9.31904 4.5481C9.31944 4.94433 9.24183 5.33677 9.09053 5.70298C8.93922 6.06919 8.71746 6.40204 8.4375 6.68245C8.15754 6.96285 7.82495 7.18535 7.45898 7.33723C7.09302 7.48912 6.70063 7.56742 6.30439 7.56765L5.09561 7.57Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M6.92022 4.43062C7.11822 4.43062 7.3497 4.76604 7.35 5.05764C7.34815 5.18243 7.30521 5.30309 7.22754 5.40078C7.14988 5.49847 7.04196 5.56764 6.9208 5.59758H5.94522C4.92282 5.59758 3.84258 6.42894 3.84258 7.45164C3.84258 8.47434 4.92252 9.30562 5.94522 9.30562H7.89522C8.91792 9.30562 9.9832 8.47434 9.9832 7.45164C9.98201 7.02136 9.83168 6.60482 9.55781 6.27295C9.50038 6.15617 9.48153 6.0241 9.50391 5.8959C9.52628 5.76769 9.58873 5.64992 9.68233 5.5595C9.79101 5.47242 9.92461 5.42251 10.0638 5.41711C10.2029 5.41171 10.3404 5.45115 10.4555 5.52954C10.9043 6.06991 11.1501 6.75006 11.1507 7.45251C11.1504 8.25332 10.8322 9.0212 10.2659 9.58745C9.69967 10.1537 8.93186 10.472 8.13106 10.4723H5.71524C4.91448 10.4719 4.14685 10.1536 3.58067 9.58738C3.01448 9.02113 2.69622 8.25327 2.6959 7.45251C2.69547 7.05626 2.77313 6.6638 2.92442 6.29756C3.0757 5.93132 3.29748 5.59845 3.57744 5.31802C3.8574 5.03758 4.18997 4.81506 4.55596 4.66316C4.92195 4.51125 5.31429 4.43298 5.71055 4.43274L6.92022 4.43062Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98056">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Website</p>
                  <a href="<%= cv.website %>" class="value"
                    ><%= cv.website %></a
                  >
                </div>
              </div>
              <!-- Detail Item -->
              <% } %> <% if (cv.minSalary || cv.maxSalary ) { %>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98061)">
                      <path
                        d="M9.58449 3.31977C9.36999 2.23467 8.56449 1.75977 7.44489 1.75977H3.05469C1.73439 1.75977 0.854492 2.41977 0.854492 3.95997V6.53517C0.854492 7.64517 1.30959 8.29527 2.05959 8.57517C2.17463 8.618 2.29346 8.64984 2.41449 8.67027C2.62475 8.71543 2.83935 8.73726 3.05439 8.73537H7.44969C8.76969 8.73537 9.64989 8.07537 9.64989 6.53517V3.95997C9.6525 3.74477 9.63056 3.52999 9.58449 3.31977ZM2.76459 5.99997C2.76459 6.09942 2.72508 6.1948 2.65476 6.26513C2.58443 6.33546 2.48905 6.37497 2.38959 6.37497C2.29014 6.37497 2.19475 6.33546 2.12443 6.26513C2.0541 6.1948 2.01459 6.09942 2.01459 5.99997V4.49997C2.01459 4.40051 2.0541 4.30513 2.12443 4.2348C2.19475 4.16447 2.29014 4.12497 2.38959 4.12497C2.48905 4.12497 2.58443 4.16447 2.65476 4.2348C2.72508 4.30513 2.76459 4.40051 2.76459 4.49997V5.99997ZM5.24979 6.56997C4.98872 6.56997 4.73351 6.49255 4.51644 6.34751C4.29937 6.20246 4.13018 5.99631 4.03027 5.75511C3.93036 5.51391 3.90422 5.2485 3.95516 4.99245C4.00609 4.73639 4.13181 4.50119 4.31641 4.31658C4.50102 4.13198 4.73622 4.00626 4.99227 3.95533C5.24833 3.9044 5.51374 3.93054 5.75493 4.03044C5.99613 4.13035 6.20229 4.29954 6.34733 4.51661C6.49237 4.73369 6.56979 4.98889 6.56979 5.24997C6.56979 5.42331 6.53565 5.59496 6.46931 5.75511C6.40298 5.91526 6.30575 6.06077 6.18317 6.18335C6.0606 6.30592 5.91508 6.40315 5.75493 6.46949C5.59478 6.53582 5.42314 6.56997 5.24979 6.56997ZM8.47989 5.99997C8.47989 6.09942 8.44038 6.1948 8.37006 6.26513C8.29973 6.33546 8.20435 6.37497 8.10489 6.37497C8.00544 6.37497 7.91005 6.33546 7.83973 6.26513C7.7694 6.1948 7.72989 6.09942 7.72989 5.99997V4.49997C7.72989 4.40051 7.7694 4.30513 7.83973 4.2348C7.91005 4.16447 8.00544 4.12497 8.10489 4.12497C8.20435 4.12497 8.29973 4.16447 8.37006 4.2348C8.44038 4.30513 8.47989 4.40051 8.47989 4.49997V5.99997Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M8.74198 10.2923H4.65268C4.29444 10.2999 3.93784 10.2417 3.60058 10.1207C3.26595 9.99801 2.97033 9.78786 2.7445 9.51212C2.51868 9.23638 2.37091 8.90514 2.31658 8.5529C2.30496 8.49622 2.30783 8.43753 2.32492 8.38225C2.34202 8.32698 2.37279 8.27692 2.41438 8.2367C2.45578 8.19562 2.50706 8.1659 2.56329 8.1504C2.61951 8.1349 2.67878 8.13414 2.73538 8.1482C2.9068 8.18347 3.08146 8.20067 3.25648 8.1995H7.34638C8.49088 8.1995 9.04438 7.646 9.04438 6.5015V4.1048C9.04664 3.92897 9.03106 3.75337 8.99788 3.5807C8.98659 3.52419 8.98912 3.46579 9.00526 3.41048C9.0214 3.35516 9.05067 3.30457 9.09058 3.263C9.1307 3.22142 9.18094 3.19098 9.23638 3.17468C9.29181 3.15837 9.35053 3.15676 9.40678 3.17C10.5234 3.398 11.1375 4.226 11.1375 5.5007V7.8965C11.1378 9.4223 10.2678 10.2923 8.74198 10.2923ZM3.17338 8.8964C3.31991 9.16568 3.56236 9.37001 3.85258 9.4688C4.11127 9.5582 4.38384 9.60077 4.65748 9.5945H8.74648C9.89098 9.5945 10.4445 9.041 10.4445 7.8965V5.5007C10.4445 4.7657 10.2165 4.2773 9.74668 4.0214V6.5009C9.74668 8.0222 8.87218 8.8967 7.35088 8.8967H3.17338V8.8964Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98061">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Salary range</p>
                  <p class="value">
                    $ <%= cv.minSalary %> - <%= cv.maxSalary %> montly
                  </p>
                </div>
              </div>
              <!-- Detail Item -->
              <% } %> <% if (cv.nationality.title ) { %>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98066)">
                      <path
                        d="M6.00021 3.07653C6.50604 3.07653 7.01822 3.10018 7.52285 3.14729C7.5938 3.14991 7.66303 3.12609 7.71739 3.08041C7.74137 3.05301 7.75702 3.01926 7.76221 2.98322C7.76877 2.94487 7.77008 2.90584 7.76631 2.86712C7.70631 2.56351 7.63515 2.25565 7.55625 1.95624C7.47734 1.65682 7.38831 1.35499 7.2908 1.05978C7.28248 1.02207 7.27734 0.983787 7.27527 0.945223C6.85851 0.840707 6.43074 0.786308 6.00109 0.783203C5.57044 0.786172 5.14173 0.840572 4.72397 0.945223V0.947274L4.72291 0.959317C4.71999 0.99243 4.71699 1.02634 4.71138 1.05978C4.61387 1.35529 4.52515 1.6559 4.44535 1.95711C4.36554 2.25833 4.29557 2.56525 4.23557 2.86946C4.23235 2.90733 4.23394 2.9455 4.24055 2.98292C4.24612 3.01808 4.26164 3.05092 4.28509 3.0777C4.34474 3.1264 4.42037 3.15065 4.49721 3.14553C4.99463 3.09963 5.50069 3.07653 6.00021 3.07653Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M9.16516 3.37237C9.68089 3.47708 10.1987 3.6082 10.7045 3.7624L10.7022 3.76087C10.5742 3.49234 10.4237 3.23519 10.2521 2.99222C10.0815 2.75107 9.89071 2.52478 9.68199 2.31573C9.47292 2.10702 9.24664 1.91629 9.00549 1.74565C8.76262 1.57367 8.50572 1.42265 8.23729 1.29417C8.39363 1.79488 8.52376 2.30336 8.62725 2.81761C8.64376 2.88472 8.66471 2.95066 8.68995 3.015C8.71356 3.0807 8.74863 3.14169 8.79366 3.19504C8.84454 3.24453 8.9052 3.2831 8.9715 3.30843C9.03439 3.33463 9.09903 3.35604 9.16516 3.37237Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M8.23846 10.7056C8.38157 10.237 8.5045 9.75875 8.60381 9.28382C8.61598 9.21968 8.63149 9.15618 8.6501 9.0936C8.66647 9.03871 8.68657 8.98502 8.71016 8.93283C8.73128 8.8836 8.75998 8.83797 8.79513 8.79754C8.84435 8.74954 8.90249 8.71185 8.96652 8.6868C9.02806 8.66058 9.0915 8.63924 9.15638 8.62293C9.6595 8.52692 10.1635 8.40573 10.6565 8.26292C10.654 8.27561 10.6558 8.28877 10.6614 8.30042C10.664 8.30686 10.6655 8.3136 10.6661 8.32049C10.5361 8.57945 10.3849 8.82721 10.214 9.06123C10.0443 9.29376 9.85575 9.51202 9.65035 9.71378C9.445 9.91538 9.22355 10.0999 8.9882 10.2655C8.75134 10.432 8.50114 10.5789 8.24022 10.7044L8.23846 10.7056Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M3.67671 10.6588C3.42452 10.533 3.18286 10.387 2.95421 10.2222C2.72715 10.0585 2.51367 9.87674 2.3158 9.67869C2.11788 9.48049 1.93623 9.26676 1.77232 9.03962C1.60765 8.8107 1.46147 8.56904 1.33518 8.31691C1.33575 8.30814 1.33725 8.2995 1.33987 8.29112C1.3425 8.28264 1.34429 8.27383 1.34485 8.26497C1.84078 8.40808 2.3468 8.52897 2.84903 8.62498C2.91399 8.64133 2.97752 8.66274 3.03918 8.68892C3.10337 8.71397 3.16191 8.75169 3.21116 8.79989C3.25595 8.85268 3.29092 8.91302 3.31458 8.9781C3.33984 9.04223 3.36078 9.10798 3.37728 9.17491C3.47268 9.66513 3.59142 10.1611 3.73003 10.6495C3.72096 10.6501 3.71203 10.6519 3.70337 10.6546C3.69468 10.6571 3.68575 10.6585 3.67671 10.6588Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M1.29592 3.76226C1.42119 3.50051 1.56797 3.24963 1.73481 3.01222C1.90022 2.77682 2.08462 2.55535 2.28621 2.35008C2.48788 2.14488 2.70597 1.95655 2.93839 1.78696C3.17205 1.61627 3.41965 1.46519 3.67817 1.33518C3.68748 1.33612 3.69649 1.33873 3.70483 1.34295C3.71309 1.34712 3.722 1.3498 3.7312 1.35079C3.5977 1.81161 3.48372 2.28529 3.39251 2.75872C3.37702 2.8318 3.35692 2.90384 3.33245 2.97443C3.30708 3.05472 3.2662 3.12929 3.21233 3.19402C3.14964 3.25332 3.07468 3.29793 2.99259 3.32454C2.92472 3.34954 2.85504 3.36957 2.78428 3.38453L2.7544 3.39083H2.75059C2.25972 3.49005 1.77428 3.61403 1.29592 3.76226Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M2.91261 7.76779H2.87217C2.56706 7.70779 2.25986 7.6379 1.95895 7.55779C1.65803 7.47769 1.35562 7.38885 1.0589 7.29074C1.02058 7.28469 0.981962 7.2813 0.943172 7.28056C0.83913 6.86226 0.784464 6.43322 0.780273 6.0022C0.784459 5.57306 0.839129 5.14591 0.943172 4.72955C0.982052 4.72668 1.02065 4.72147 1.0589 4.71395C1.35532 4.61675 1.65887 4.52735 1.96158 4.44814C2.2643 4.36894 2.5723 4.29815 2.87891 4.23815H2.9088C2.96925 4.23314 3.0295 4.25135 3.07697 4.28913C3.12543 4.34797 3.14955 4.42305 3.14465 4.49912C3.05673 5.50729 3.05729 6.52124 3.14641 7.5293C3.1481 7.59879 3.12452 7.66652 3.0799 7.71981C3.03215 7.75614 2.97235 7.77324 2.91261 7.76779Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M8.92492 7.71688C8.97255 7.75457 9.03256 7.77277 9.09309 7.76786L9.11565 7.76574C9.42257 7.70574 9.73202 7.63495 10.035 7.55574C10.338 7.47654 10.6427 7.38685 10.9401 7.28964C10.9784 7.28357 11.017 7.28018 11.0558 7.27946C11.1598 6.86116 11.2145 6.43212 11.2187 6.0011C11.2145 5.57196 11.1598 5.14475 11.0558 4.72838C11.0167 4.72814 10.9778 4.7229 10.9401 4.71278C10.6445 4.61437 10.3415 4.52531 10.04 4.44551C9.7385 4.3657 9.43104 4.29551 9.12503 4.23551H9.09661C9.03615 4.2305 8.9759 4.24872 8.92843 4.28649C8.89891 4.31782 8.87944 4.35715 8.87218 4.39958C8.8629 4.44578 8.85896 4.4929 8.86046 4.53999C8.86436 4.58499 8.86828 4.63184 8.87218 4.67894V4.68524V4.687L8.87224 4.68625C8.94664 5.6204 8.94127 6.55918 8.85665 7.49246C8.85699 7.53472 8.86245 7.5768 8.87247 7.61786C8.8805 7.65507 8.89861 7.68937 8.92492 7.71688Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M5.9997 11.2177C5.56905 11.2149 5.14005 11.1605 4.72229 11.0559V11.0545L4.72121 11.0422C4.71829 11.0089 4.7153 10.9747 4.70969 10.941C4.61309 10.6431 4.52404 10.3395 4.44483 10.038C4.36563 9.73646 4.29477 9.42658 4.23476 9.12086C4.22993 9.08697 4.23197 9.05246 4.24062 9.01934C4.24928 8.98622 4.26466 8.95513 4.28545 8.92793C4.31376 8.9009 4.34906 8.88239 4.38741 8.87454C4.42969 8.86463 4.47289 8.85967 4.51632 8.85981C5.00895 8.90812 5.50855 8.93452 6.00058 8.93782C6.5022 8.93452 7.00876 8.90786 7.50739 8.85776C7.58272 8.85332 7.65706 8.87737 7.71541 8.92522C7.73858 8.9518 7.7537 8.98432 7.75935 9.01912C7.76609 9.05622 7.76807 9.09405 7.76492 9.13163C7.70492 9.43584 7.63466 9.74276 7.55485 10.044C7.47505 10.3452 7.38662 10.6462 7.28912 10.9414C7.28081 10.979 7.27557 11.0172 7.27329 11.0556C6.85674 11.1602 6.42916 11.2146 5.9997 11.2177Z"
                        fill="#F0F0F0"
                      />
                      <path
                        d="M4.75518 8.03725C5.1674 8.07025 5.58604 8.08677 6.00007 8.08677C6.41349 8.08677 6.8313 8.07027 7.24232 8.03967C7.33793 8.0276 7.43261 8.0083 7.52534 7.98203C7.63414 7.95505 7.73625 7.90604 7.82535 7.83802C7.89432 7.77186 7.9443 7.68835 7.96979 7.59624C8.00015 7.50264 8.02115 7.40627 8.03249 7.30853C8.06909 6.87681 8.08757 6.43849 8.08757 6.00497C8.08757 5.57145 8.06908 5.13314 8.03308 4.70142C8.02167 4.60322 8.00077 4.50633 7.97067 4.41217C7.94515 4.31926 7.89486 4.23498 7.82535 4.16826C7.71961 4.08931 7.59784 4.0348 7.4685 4.00866C7.37567 3.98584 7.2812 3.96973 7.18606 3.96039C6.79364 3.93039 6.39607 3.91534 6.00065 3.91534C5.60523 3.91534 5.20535 3.93068 4.81143 3.96068C4.71588 3.97015 4.62103 3.98645 4.52782 4.00954C4.39989 4.03586 4.2794 4.09007 4.17478 4.16826C4.05181 4.31298 3.97984 4.49405 3.96969 4.68369C3.93249 5.12021 3.91344 5.56571 3.91344 6.00373C3.91344 6.44175 3.93249 6.88642 3.96969 7.32384C3.98029 7.51233 4.05214 7.69219 4.17449 7.83597C4.26293 7.90354 4.36424 7.95244 4.47216 7.97968C4.56487 8.00601 4.65955 8.02523 4.75518 8.03725Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98066">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Nationality</p>
                  <p class="value"><%= cv.nationality.title %></p>
                </div>
              </div>
              <!-- Detail Item -->
              <% } %>
            </div>
            <div style="width: 33%; padding-left: 30px">
              <% if (cv.gender ) { %>

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98072)">
                      <path
                        d="M7.26085 2.63181C7.26085 2.56577 7.29069 2.50244 7.34381 2.45574C7.39692 2.40905 7.46897 2.38281 7.54409 2.38281H8.7176C8.79272 2.38281 8.86477 2.40905 8.91789 2.45574C8.971 2.50244 9.00085 2.56577 9.00085 2.63181C9.00085 2.63974 9.00042 2.64762 8.99957 2.65544C9.00041 2.66491 9.00084 2.67446 9.00084 2.68406V3.85757C9.00084 3.93269 8.97461 4.00474 8.92791 4.05786C8.88122 4.11097 8.81788 4.14082 8.75184 4.14082C8.6858 4.14082 8.62247 4.11097 8.57577 4.05786C8.52908 4.00474 8.50284 3.93269 8.50284 3.85757V3.21144L7.35589 4.35839C7.37845 4.38966 7.40038 4.4214 7.42167 4.45359C7.52339 4.60772 7.60961 4.77155 7.67905 4.94267C7.74722 5.11095 7.79891 5.28544 7.8334 5.4637C7.86762 5.64065 7.88487 5.82046 7.88491 6.0007C7.88486 6.18093 7.86761 6.36074 7.8334 6.5377C7.79889 6.71594 7.7472 6.89042 7.67905 7.0587C7.60955 7.2298 7.52334 7.39362 7.42167 7.54779C7.31669 7.70654 7.19599 7.85431 7.0614 7.98888C6.92687 8.12349 6.7791 8.2442 6.62034 8.34916C6.46622 8.45083 6.30243 8.53702 6.13135 8.60647C5.96305 8.67465 5.78855 8.72637 5.61028 8.7609C5.5201 8.77834 5.42917 8.79137 5.33783 8.79997V9.78081H5.8151C5.89301 9.78081 5.96772 9.80705 6.02281 9.85374C6.07789 9.90044 6.10884 9.96377 6.10884 10.0298C6.10884 10.0959 6.07789 10.1592 6.02281 10.2059C5.96772 10.2526 5.89301 10.2788 5.8151 10.2788H5.33783V10.7561C5.33783 10.834 5.31159 10.9087 5.2649 10.9638C5.2182 11.0189 5.15486 11.0498 5.08883 11.0498C5.02279 11.0498 4.95945 11.0189 4.91276 10.9638C4.86606 10.9087 4.83983 10.834 4.83983 10.7561V10.2788H4.36257C4.28467 10.2788 4.20996 10.2526 4.15487 10.2059C4.09978 10.1592 4.06884 10.0959 4.06884 10.0298C4.06884 9.96377 4.09978 9.90044 4.15487 9.85374C4.20996 9.80705 4.28467 9.78081 4.36257 9.78081H4.83983V8.80269C4.73802 8.79425 4.6367 8.78031 4.53629 8.76092C4.35806 8.72638 4.18361 8.67469 4.01533 8.60657C3.84422 8.53712 3.68038 8.4509 3.52625 8.34918C3.36751 8.24421 3.21977 8.12351 3.08526 7.98889C2.95063 7.85435 2.82991 7.70657 2.72492 7.54781C2.62324 7.39369 2.53705 7.22988 2.46761 7.0588C2.39943 6.8905 2.34774 6.71599 2.31327 6.53772C2.27902 6.36077 2.26177 6.18095 2.26172 6.00071C2.26175 5.82048 2.27899 5.64067 2.31321 5.46372C2.34773 5.28546 2.39945 5.11097 2.46763 4.94269C2.53708 4.77158 2.62327 4.60776 2.72494 4.4536C2.82992 4.29486 2.95065 4.14711 3.08528 4.01259C3.21981 3.87797 3.36755 3.75725 3.52627 3.65224C3.68041 3.55056 3.84425 3.46437 4.01535 3.39492C4.18362 3.32674 4.35809 3.27502 4.53633 3.24048C4.61896 3.22447 4.70359 3.21202 4.78784 3.20348C4.83789 3.19919 4.96744 3.18922 5.089 3.18922C5.20802 3.18922 5.31861 3.19891 5.36068 3.20306V3.20365C5.44417 3.21221 5.52817 3.2246 5.61035 3.24045C5.7886 3.275 5.96308 3.32672 6.13135 3.3949C6.30246 3.46429 6.46625 3.55049 6.62034 3.65222C6.76654 3.74887 6.90341 3.85887 7.02921 3.98079L8.12919 2.88081H7.54409C7.46897 2.88081 7.39692 2.85458 7.34381 2.80788C7.29069 2.76119 7.26085 2.69785 7.26085 2.63181Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98072">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Gender</p>
                  <p class="value"><%= cv.gender.title %></p>
                </div>
              </div>
              <!-- Detail Item -->
              <% } %> <% if (cv.industry ) { %>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98077)">
                      <path
                        d="M7.99271 9.9304L7.60011 9.79599C7.55073 9.77942 7.50514 9.75325 7.46592 9.71898C7.42671 9.6847 7.39462 9.643 7.37158 9.59629C7.34855 9.54958 7.33476 9.49877 7.33144 9.44679C7.32813 9.39482 7.33533 9.34271 7.35224 9.29345C7.47705 8.93344 7.27394 8.70242 6.90222 8.77502C6.79893 8.79443 6.69195 8.77233 6.60484 8.71353C6.51773 8.65473 6.45758 8.56396 6.43696 8.4609L6.36665 8.1009C6.35681 8.04974 6.35704 7.99713 6.36753 7.9461C6.37802 7.89507 6.39866 7.84661 6.42788 7.80349C6.45711 7.76036 6.49454 7.72341 6.53804 7.69475C6.58155 7.6661 6.63015 7.64631 6.68131 7.63649C6.75683 7.63667 6.83045 7.61319 6.89197 7.56939C6.95349 7.5256 6.99985 7.46366 7.0244 7.39225C7.04894 7.32083 7.05039 7.24352 7.02879 7.17115C7.00719 7.09879 6.96365 7.03501 6.90398 6.98874C6.86967 6.94937 6.84352 6.90362 6.82692 6.85411C6.81033 6.8046 6.80364 6.75231 6.80729 6.70022C6.81095 6.64813 6.82468 6.59729 6.84802 6.55058C6.87136 6.50387 6.90378 6.4622 6.94324 6.428L7.25849 6.15498C7.29253 6.12498 7.33213 6.10204 7.3751 6.08745C7.41807 6.07286 7.46372 6.06691 7.50899 6.06998C7.55426 6.07305 7.59847 6.08506 7.63907 6.10532C7.67968 6.12557 7.71574 6.15369 7.74543 6.18801L7.77561 6.22368C7.81342 6.28926 7.87078 6.34141 7.93968 6.37278C8.00857 6.40414 8.08542 6.41318 8.15971 6.39863C8.234 6.38408 8.30198 6.34665 8.35395 6.29162C8.40593 6.23659 8.43947 6.16669 8.44976 6.09169L8.46412 6.04819C8.49537 5.96129 8.55959 5.89017 8.64284 5.8502C8.72609 5.81023 8.82151 5.80461 8.90886 5.83456L9.30293 5.96897C9.40224 6.00295 9.48404 6.075 9.53028 6.16923C9.57652 6.26345 9.5835 6.37217 9.54962 6.47151C9.42721 6.82913 9.63032 7.06255 9.99964 6.98994C10.1031 6.97089 10.2097 6.99305 10.297 7.05169C10.3843 7.11034 10.4452 7.20081 10.4667 7.30377L10.5361 7.66377C10.5561 7.76694 10.5346 7.87385 10.476 7.96111C10.4174 8.04837 10.3266 8.10887 10.2235 8.12939C9.85146 8.202 9.7518 8.4936 10.0008 8.77832C10.0349 8.81771 10.0609 8.86345 10.0773 8.9129C10.0937 8.96236 10.1001 9.01457 10.0963 9.06654C10.0925 9.11851 10.0784 9.16922 10.055 9.21578C10.0316 9.26233 9.99926 9.30381 9.9598 9.33784L9.64455 9.60966C9.57527 9.67041 9.48483 9.70122 9.39287 9.69532C9.30092 9.68941 9.21503 9.64728 9.15409 9.57816L9.12391 9.54245C9.0861 9.47687 9.02874 9.42476 8.95984 9.3934C8.89095 9.36203 8.8141 9.35299 8.73981 9.36754C8.66552 9.38209 8.59754 9.41948 8.54557 9.47452C8.49359 9.52955 8.46034 9.59948 8.45005 9.67448L8.43511 9.71799C8.41055 9.78598 8.36578 9.84482 8.30678 9.8866C8.24779 9.92838 8.1775 9.95108 8.10521 9.95168C8.06678 9.95094 8.02875 9.94377 7.99271 9.9304ZM8.32261 7.21554C8.14607 7.2501 7.99057 7.3532 7.88987 7.50226C7.78917 7.65132 7.75145 7.8342 7.78527 8.01088C7.81997 8.18745 7.92323 8.34308 8.0724 8.44373C8.22156 8.54437 8.40459 8.58184 8.58131 8.54792C8.7578 8.51337 8.91349 8.41022 9.01405 8.26113C9.11461 8.11203 9.15185 7.92916 9.11776 7.75258C9.08742 7.59805 9.0043 7.45884 8.88279 7.35866C8.76128 7.25849 8.60899 7.20355 8.45152 7.20324C8.40853 7.2031 8.36541 7.20714 8.32319 7.21525L8.32261 7.21554ZM5.2539 7.77628L5.21845 7.71629C4.93103 7.21886 4.46249 7.21886 4.17748 7.71629L4.14202 7.77628C4.10716 7.83617 4.06094 7.8886 4.00579 7.93057C3.95064 7.97253 3.88764 8.0032 3.82062 8.02084C3.75361 8.03848 3.6839 8.04275 3.61524 8.03337C3.54658 8.02399 3.48024 8.00117 3.42041 7.9662L2.87282 7.65355C2.80431 7.6143 2.74437 7.56192 2.69615 7.49941C2.64793 7.43689 2.61242 7.36549 2.59185 7.28926C2.57128 7.21304 2.56609 7.1335 2.57632 7.05521C2.58655 6.97692 2.61216 6.9014 2.65162 6.83302C2.93933 6.33559 2.70581 5.93059 2.13128 5.93059C1.97213 5.9298 1.81973 5.86613 1.70733 5.75345C1.59493 5.64076 1.53164 5.48821 1.53125 5.32906V4.77224C1.5318 4.61314 1.59526 4.46065 1.70763 4.348C1.81999 4.23536 1.97218 4.17166 2.13128 4.17071C2.70581 4.17071 2.93933 3.76569 2.65162 3.27067C2.57203 3.13209 2.55064 2.96757 2.59214 2.81325C2.63365 2.65892 2.73446 2.52738 2.87282 2.44742L3.42041 2.13331C3.47981 2.09843 3.54552 2.07565 3.61378 2.06632C3.68203 2.05699 3.75169 2.0613 3.81828 2.07896C3.88487 2.09662 3.94702 2.12727 4.00169 2.1692C4.05635 2.21112 4.10243 2.26346 4.13675 2.3232L4.17103 2.38322C4.45844 2.88065 4.92847 2.88065 5.21288 2.38322L5.24745 2.3232C5.31843 2.20277 5.43425 2.11526 5.56944 2.07969C5.70463 2.04412 5.84831 2.0634 5.96936 2.13331L6.51812 2.44742C6.58648 2.48682 6.64645 2.53931 6.6945 2.6019C6.74254 2.66448 6.77781 2.73593 6.79821 2.81215C6.81861 2.88836 6.82381 2.96784 6.81345 3.04606C6.80309 3.12427 6.7774 3.19968 6.73786 3.26796C6.45314 3.76538 6.68749 4.17038 7.26142 4.17038C7.42097 4.17132 7.57399 4.2349 7.68712 4.34742C7.80026 4.45993 7.86462 4.61237 7.86643 4.77191V5.32877C7.86572 5.48813 7.8019 5.64074 7.68918 5.75341C7.57646 5.86607 7.42401 5.92967 7.26464 5.9303C6.69101 5.9303 6.45688 6.3353 6.7446 6.83272C6.78407 6.90109 6.80964 6.97656 6.81989 7.05484C6.83014 7.13312 6.82491 7.21267 6.80437 7.2889C6.78382 7.36512 6.74855 7.43655 6.70036 7.49908C6.65216 7.5616 6.59188 7.61398 6.52339 7.65326L5.9761 7.96587C5.89638 8.01347 5.80527 8.03858 5.71242 8.0385C5.61982 8.03834 5.52878 8.01403 5.44844 7.968C5.3681 7.92196 5.30114 7.85579 5.25419 7.77598L5.2539 7.77628ZM3.66651 5.05065C3.66723 5.32341 3.77598 5.58478 3.96887 5.77762C4.16177 5.97045 4.42301 6.07905 4.69576 6.07968C4.96861 6.07944 5.23031 5.97095 5.42324 5.77802C5.61617 5.58509 5.72478 5.3235 5.72501 5.05065C5.72478 4.7778 5.61617 4.51618 5.42324 4.32325C5.23031 4.13031 4.96861 4.02182 4.69576 4.02158C4.42311 4.0223 4.16199 4.13092 3.96916 4.32369C3.77634 4.51645 3.6676 4.77771 3.66681 5.05036L3.66651 5.05065Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98077">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Industry</p>
                  <p class="value"><%= cv.industry.title %></p>
                </div>
              </div>
              <!-- Detail Item -->
              <% } %> <% if (cv?.dateOfBirth ) { %>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.28368 10.7973H3.46698C3.26295 10.7974 3.06083 10.7566 2.87284 10.6773C2.78219 10.6392 2.69531 10.5925 2.61356 10.5378C2.53271 10.4834 2.45719 10.4216 2.38798 10.353C2.31882 10.2844 2.25631 10.2093 2.20136 10.1289C2.14639 10.0478 2.09953 9.96165 2.06132 9.8715C1.98178 9.68527 1.94112 9.48477 1.94149 9.28227V8.99699L2.65634 8.60697V8.96967C2.65634 9.42477 2.73269 9.68665 2.91269 9.84565C3.09269 10.0046 3.38987 10.0722 3.90497 10.0722H7.84716C8.37456 10.0722 8.66244 10.0101 8.83944 9.85766C9.02154 9.70046 9.09638 9.44307 9.09638 8.96967V8.66637L9.81005 9.01706V9.28315C9.81072 9.48568 9.77006 9.68624 9.69022 9.87238C9.65227 9.96277 9.6049 10.049 9.54931 10.1298C9.49469 10.2104 9.43226 10.2854 9.36298 10.3539C9.29378 10.4225 9.21826 10.4843 9.13739 10.5387C9.05567 10.5935 8.96897 10.6403 8.87812 10.6782C8.69 10.7573 8.48776 10.7978 8.28368 10.7973Z"
                      fill="#F0F0F0"
                    />
                    <path
                      d="M10.1159 9.16707L8.65957 8.45216C8.54314 8.3951 8.4206 8.35164 8.29424 8.32259C8.16986 8.29404 8.04275 8.27963 7.91514 8.27967C7.56362 8.27897 7.2206 8.38871 6.93486 8.59344C6.79757 8.69162 6.64573 8.76771 6.48486 8.81881C6.3263 8.86895 6.16103 8.89444 5.99473 8.89439C5.86875 8.89433 5.74319 8.87964 5.62061 8.85059C5.49576 8.82114 5.37484 8.77684 5.26055 8.71861L4.49912 8.3286C4.29159 8.2237 4.06251 8.16895 3.82998 8.16871C3.58394 8.16905 3.3417 8.23088 3.12568 8.34867L1.6377 9.16378V5.43956H10.1156L10.1159 9.16707Z"
                      fill="#F0F0F0"
                    />
                    <path
                      d="M7.06154 5.4456H6.3385V3.63805C6.3385 3.58058 6.31583 3.5255 6.27522 3.48483C6.2346 3.44416 6.17947 3.42126 6.12199 3.42118H5.83283C5.77525 3.42118 5.7198 3.44403 5.67902 3.48468C5.63825 3.52534 5.61532 3.58047 5.61516 3.63805V5.4456H4.8927V3.24775C4.89255 3.1705 4.90797 3.094 4.93781 3.02275C4.96694 2.95399 5.00913 2.8916 5.06203 2.83891C5.11451 2.7861 5.17687 2.74399 5.24543 2.71498C5.31664 2.68497 5.39315 2.66953 5.47043 2.66965H6.48293C6.56041 2.66944 6.63712 2.68489 6.70852 2.71498C6.77714 2.74405 6.83928 2.78615 6.89191 2.83891C6.94472 2.89161 6.98683 2.95401 7.01584 3.02275C7.04582 3.09396 7.06124 3.17048 7.06096 3.24775V5.4456H7.06154Z"
                      fill="#F0F0F0"
                    />
                    <path
                      d="M5.95648 0.206055C6.32297 0.206055 6.61975 1.06631 6.61975 1.64819C6.61975 2.23006 6.32297 2.45776 5.95648 2.45776C5.59 2.45776 5.29322 2.23006 5.29322 1.64819C5.29322 1.06631 5.59 0.206055 5.95648 0.206055Z"
                      fill="#F0F0F0"
                    />
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Date Of Birth</p>
                  <p class="value">
                    <%= moment(cv?.dateOfBirth).format('MMM YYYY') %>
                  </p>
                </div>
              </div>
              <!-- Detail Item -->
              <% } %> <% if (cv.residentCountry ) { %>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->

              <!-- Detail Item -->
              <div class="detail-item">
                <div class="detail-item-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_2215_98087)">
                      <path
                        d="M8.70821 11.1052H3.29411C2.8583 11.0979 2.43848 10.9404 2.10536 10.6593C1.77224 10.3782 1.54631 9.99092 1.46587 9.56254L0.823163 5.71097C0.782484 5.38682 0.821907 5.05714 0.938288 4.75188C1.05467 4.44663 1.24433 4.17516 1.49048 3.96036L4.84053 1.27704C5.16907 1.01981 5.57543 0.882021 5.99266 0.886841C6.41596 0.882249 6.82845 1.02132 7.16266 1.28114L10.5127 3.95919C10.7558 4.17637 10.9433 4.44844 11.0593 4.75306C11.1754 5.05767 11.2167 5.38591 11.1797 5.7098L10.5362 9.55726C10.4516 9.98407 10.2246 10.3694 9.89257 10.6505C9.56051 10.9317 9.14312 11.0921 8.70821 11.1052ZM6.00057 6.3654C5.9047 6.36688 5.81306 6.40581 5.74542 6.47378C5.67779 6.54175 5.63951 6.63335 5.6385 6.72923V8.90108C5.63842 8.99724 5.67637 9.08959 5.74425 9.15769C5.81214 9.2258 5.90441 9.26409 6.00057 9.26432C6.09689 9.26424 6.18937 9.2258 6.25748 9.15769C6.32559 9.08959 6.36374 8.9974 6.36382 8.90108V6.72923C6.36281 6.63308 6.32418 6.5413 6.25631 6.4732C6.18844 6.4051 6.09671 6.36613 6.00057 6.36481V6.3654Z"
                        fill="#F0F0F0"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_2215_98087">
                        <rect width="12" height="12" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="detail-item-data">
                  <p class="type">Place Of Birth</p>
                  <p class="value"><%= cv.residentCountry.title %></p>
                </div>
              </div>
              <!-- Detail Item -->
              <% } %>
            </div>
          </div>
          <div class="wrapper-context">
            <div class="left">
              <% if (cv.userEducations.length > 0 ) { %>
              <!-- Start Margin -->
              <div class="margin-top"></div>
              <!-- End Margin -->

              <!-- Start Divider -->
              <div style="width: 90px">
                <div class="divider">
                  <p>Education</p>
                </div>
              </div>

              <!-- End Divider -->

              <!-- Start Education -->
              <% cv.userEducations.forEach(function(item,index) { %>
              <div class="education">
                <div>
                  <p class="title"><%= item.institute %></p>
                </div>
                <div class="wrapper-title-date">
                  <div>
                    <p><%= item.country?.title %> <%= item.city?.title %></p>
                  </div>
                  <div style="margin-left: auto">
                    <p>
                      <%= moment(item.fromDate).format('MMM YYYY') %> - <%=
                      moment(item.toDate).format('MMM YYYY') %>
                    </p>
                  </div>
                </div>
                <div>
                  <p><%= item?.degree?.title %> , <%= item?.major %></p>
                </div>
              </div>
              <% }); %>
              <!-- End Education -->
              <% } %> <% if (cv.userSkils.length) { %>
              <!-- Start Margin -->
              <div style="margin-top: 64px"></div>
              <!-- End Margin -->

              <!-- Start Pure Divider -->
              <div style="width: 50px">
                <div class="divider">
                  <p>Skills</p>
                </div>
              </div>

              <!-- End Pure Divider -->

              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start Progress -->
              <% cv.userSkils.forEach(function(item,index) { %>
              <div class="progress-bar">
                <div class="wrapper-detail">
                  <div class="title"><p><%= item.title %></p></div>
                  <div class="text"><p><%= item.domination.title %></p></div>
                </div>
                <div class="wrapper-progress">
                  <div
                    style="width: <%= item.percentage %>%"
                    class="progress"
                  ></div>
                  <div
                    style="left: <%= item.percentage - 2 %>%"
                    class="circle"
                  ></div>
                </div>
              </div>
              <% }); %>
              <!-- End Progress -->
              <% } %> <% if (cv.userLanguages.length) { %>
              <!-- Start Margin -->
              <div style="margin-top: 64px"></div>
              <!-- End Margin -->

              <!-- Start Pure Divider -->
              <div style="width: 98px">
                <div class="divider">
                  <p>Languages</p>
                </div>
              </div>

              <!-- End Pure Divider -->

              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start Progress -->
              <% cv.userLanguages.forEach(function(item,index) { %>
              <div class="progress-bar">
                <div class="wrapper-detail">
                  <div class="title"><p><%= item.language?.title %></p></div>
                  <div class="text"><p><%= item.level.title %></p></div>
                </div>
                <div class="wrapper-progress">
                  <div
                    style="width: <%= item.percentage %>%"
                    class="progress"
                  ></div>
                  <div
                    style="left: <%= item.percentage - 2 %>%"
                    class="circle"
                  ></div>
                </div>
              </div>
              <% }); %>
              <!-- End Progress -->
              <% } %> <% if (cv.userPortfolios.length > 0 ) { %>

              <!-- Start Margin -->
              <div class="margin-top"></div>
              <!-- End Margin -->

              <!-- Start Divider -->
              <div style="width: 100px">
                <div class="divider">
                  <p>PORTFOLIO</p>
                </div>
              </div>

              <!-- End Divider -->

              <!-- Start Portfolio -->
              <% cv.userPortfolios.forEach(function(item,index) { %>
              <div class="portfolio">
                <div>
                  <p class="title"><%= item?.title %></p>
                </div>
                <div class="image-wrapper">
                  <% item?.images.forEach(function(item,index) { %>
                  <img src="<%= item %>" />
                  <img src="<%= item %>" />
                  <% }); %>
                </div>
                <div>
                  <p class="image-link">
                    Imaje Link : <span><%= item?.link %></span>
                  </p>
                  <p class="video-link">
                    Video Link : <span><%= item?.videoLink %></span>
                  </p>
                </div>
              </div>
              <!-- End Portfolio -->
              <% }); %> <% } %> <% if (cv.userCourses.length) { %>
              <!-- Start Margin -->
              <div style="margin-top: 64px"></div>
              <!-- End Margin -->

              <!-- Start Pure Divider -->
              <div style="width: 70px">
                <div class="divider">
                  <p>Courses</p>
                </div>
              </div>

              <!-- End Pure Divider -->

              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start Course -->
              <% cv.userCourses.forEach(function(item,index) { %>
              <div class="course">
                <div class="title"><p><%= item?.title %></p></div>
                <div class="date">
                  <p>
                    <%= moment(item.fromDate).format('MMM YYYY') %> - <%=
                    moment(item.toDate).format('MMM YYYY') %>
                  </p>
                </div>
              </div>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->
              <% }); %>
              <!-- End Course -->
              <% } %> <% if (cv.userReferences.length) { %>

              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start Pure Divider -->
              <div style="width: 100px">
                <div class="divider">
                  <p>References</p>
                </div>
              </div>
              <!-- End Pure Divider -->

              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start References -->
              <% cv.userReferences.forEach(function(item,index) { %>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->
              <div class="references">
                <div class="name">
                  <p><%= item?.fullName %></p>
                </div>
                <div class="company">
                  <p><%= item?.company %></p>
                </div>
                <div class="email">
                  <a href="mailto:<%= item?.email %>"
                    >Email : <%= item?.email %></a
                  >
                </div>
                <div class="phone">
                  <a href="tel:<%= item?.phone %>"
                    >Phone : <%= item?.phone %></a
                  >
                </div>
              </div>
              <% }); %>
              <!-- End References -->
              <% } %> <% if (cv.additionalInfo ) { %>
              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start Divider -->
              <div style="width: 215px">
                <div class="divider">
                  <p>Additional information</p>
                </div>
              </div>
              <!-- End Divider -->

              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start Additional -->

              <div class="discretion">
                <p><%= cv?.additionalInfo %></p>
              </div>

              <!-- End Additional -->
              <% } %> <% if (cv.userAwards.length > 0 ) { %>

              <!-- Start Margin -->
              <div class="margin-top"></div>
              <!-- End Margin -->

              <!-- Start Divider -->
              <div style="width: 158px">
                <div class="divider">
                  <p>Honors & Awards</p>
                </div>
              </div>

              <!-- End Divider -->

              <!-- Start Award -->
              <% cv.userAwards.forEach(function(item,index) { %>
              <div class="award">
                <div class="wrapper-title-award">
                  <div class="title">
                    <p><%= item?.title %></p>
                  </div>
                  <div class="date">
                    <p><%= moment(item.date).format('MMM YYYY') %></p>
                  </div>
                </div>
                <div class="wrapper-text">
                  <p><%= item.description %></p>
                </div>
              </div>
              <% }); %>
              <!-- End Award -->
              <% } %>
            </div>
            <div class="right">
              <% if (cv.userExperiences.length > 0 ) { %>
              <!-- Start Margin -->
              <div class="margin-top"></div>
              <!-- End Margin -->

              <!-- Start Divider -->
              <div style="width: 100px">
                <div class="divider">
                  <p>Experience</p>
                </div>
              </div>

              <!-- End Divider -->

              <!-- Start Experience -->
              <% cv.userExperiences.forEach(function(item,index) { %>
              <div class="education">
                <div>
                  <p class="title"><%= item.institute %></p>
                </div>
                <div class="wrapper-title-date">
                  <div>
                    <p><%= item.country?.title %> <%= item.city?.title %></p>
                  </div>
                  <div style="margin-left: auto">
                    <p>
                      <%= moment(item.fromDate).format('MMM YYYY') %> - <%=
                      moment(item.toDate).format('MMM YYYY') %>
                    </p>
                  </div>
                </div>
                <div>
                  <p><%= item?.description %></p>
                </div>
              </div>
              <% }); %>
              <!-- End Experience -->
              <% } %> <% if (cv.userExpertises.length) { %>
              <!-- Start Margin -->
              <div style="margin-top: 64px"></div>
              <!-- End Margin -->

              <!-- Start Pure Divider -->
              <div style="width: 86.5px">
                <div class="divider">
                  <p>Expertise</p>
                </div>
              </div>

              <!-- End Pure Divider -->

              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start Progress -->
              <% cv.userExpertises.forEach(function(item,index) { %>
              <div class="progress-bar">
                <div class="wrapper-detail">
                  <div class="title"><p><%= item?.title %></p></div>
                  <div class="text"><p><%= item.domination.title %></p></div>
                </div>
                <div class="wrapper-progress">
                  <div
                    style="width: <%= item.percentage %>%"
                    class="progress"
                  ></div>
                  <div
                    style="left: <%= item.percentage - 2 %>%"
                    class="circle"
                  ></div>
                </div>
              </div>
              <% }); %>
              <!-- End Progress -->
              <% } %> <% if (cv.userExtraActivities.length > 0 ) { %>
              <!-- Start Margin -->
              <div class="margin-top"></div>
              <!-- End Margin -->

              <!-- Start Divider -->
              <div style="width: 242px">
                <div class="divider">
                  <p>Extra-curricular Activities</p>
                </div>
              </div>
              <!-- End Divider -->

              <!-- Start Extra Activities -->
              <% cv.userExtraActivities.forEach(function(item,index) { %>
              <div>
                <div class="education">
                  <div>
                    <p class="title"><%= item?.title %></p>
                  </div>
                  <div class="wrapper-title-date">
                    <div>
                      <p><%= item.country?.title %> <%= item.city?.title %></p>
                    </div>
                    <div style="margin-left: auto">
                      <p>
                        <%= moment(item.fromDate).format('MMM YYYY') %> - <%=
                        moment(item.toDate).format('MMM YYYY') %>
                      </p>
                    </div>
                  </div>

                  <div>
                    <p><%= item?.description %></p>
                  </div>
                </div>
              </div>
              <% }); %>
              <!-- End Extra Activities -->

              <% } %> <% if (cv.userInterships.length) { %>

              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start Pure Divider -->
              <div style="width: 106px">
                <div class="divider">
                  <p>Internships</p>
                </div>
              </div>

              <!-- End Pure Divider -->

              <!-- Start Margin -->
              <div style="margin-top: 40px"></div>
              <!-- End Margin -->

              <!-- Start Internships -->
              <% cv.userInterships.forEach(function(item,index) { %>
              <div class="course">
                <div class="title"><p><%= item?.title %></p></div>

                <div class="date">
                  <p><%= item.country?.title %> <%= item.city?.title %></p>
                </div>
                <div class="date">
                  <p>
                    <%= moment(item.fromDate).format('MMM YYYY') %> - <%=
                    moment(item.toDate).format('MMM YYYY') %>
                  </p>
                </div>
              </div>
              <!-- Start Margin -->
              <div style="margin-top: 16px"></div>
              <!-- End Margin -->
              <% }); %>
              <!-- End Internships -->
              <% } %> <% if (cv.hobbies ) { %>
              <!-- Start Margin -->
              <div class="margin-top"></div>
              <!-- End Margin -->

              <!-- Start Divider -->
              <div style="width: 75px">
                <div class="divider">
                  <p>Hobbies</p>
                </div>
              </div>

              <!-- End Divider -->

              <!-- Start Hobbies -->

              <div class="discretion">
                <p><%= cv?.hobbies %></p>
              </div>

              <!-- End Hobbbies -->

              <% } %> <% if (cv.publications ) { %>
              <!-- Start Margin -->
              <div class="margin-top"></div>
              <!-- End Margin -->

              <!-- Start Divider -->
              <div style="width: 115px">
                <div class="divider">
                  <p>Publications</p>
                </div>
              </div>
              <!-- End Divider -->

              <!-- Start Publications -->

              <div class="discretion">
                <p><%= cv?.publications %></p>
              </div>

              <!-- End Publications -->
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
